.log{
    margin: 10px;
}

#logBox{
    border: 3px solid lightblue;
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: cornflowerblue;
    /* text-shadow: 1px 1px 3px; */
    /* font-size: 5px; */
}

.rare{
    color:black;
}
.epic{
    color:purple;
}
.unique{
    color:yellow;
}
.legendary{
    color:green;
    text-shadow: 1px 1px 2px white;
}