.his-data{

    margin-bottom: 20px;
}

.option-warp{
    display: flex;
}
.option{
    border: 1px solid black;
}

.after{
    margin-left: 20px;
}

.option-ul{
    list-style: none;
    padding: 0 10px 0 10px;
}


.레어{
    border-color: skyblue;
}
.에픽{
    border-color: purple;
}
.유니크{
    border-color: rgb(255, 208, 0);
}
.레전드리{
    border-color: green;
}